@page
@model SimpleCalculator.Pages.Logs.CreateModel

@{
    ViewData["Title"] = "Calculate";
}


<h4>Simple Calculator</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CalculationModel.Number1" class="control-label"></label>
                <input asp-for="CalculationModel.Number1" class="form-control" />
                <span asp-validation-for="CalculationModel.Number1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CalculationModel.Number2" class="control-label"></label>
                <input asp-for="CalculationModel.Number2" class="form-control" />
                <span asp-validation-for="CalculationModel.Number2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CalculationModel.CalculationMethod" class="control-label"></label>
                <select asp-for="CalculationModel.CalculationMethod" asp-items="Html.GetEnumSelectList<SimpleCalculator.Models.CalculationMethod>()">
                    <option selected="selected" value="">Please select method</option>
                </select>
                <span asp-validation-for="CalculationModel.CalculationMethod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Calculate" class="btn btn-primary" />
                <label class="form-group">The Result is: @Html.DisplayFor(model => model.CalculationModel.Result)</label>
                @*For the DivideByZero validation:*@
                <div asp-validation-summary="All" class="text-danger"></div>
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-page="/Index">Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
